# 1. Create a CSV file as Student.csv having 5 columns as rollno, name, branch, percentage and DOA with 10 records. Now read the Student.csv file to the R-workspace and display that.

In [1]:
students <- read.csv('student.csv')
students

   rollno  name                  branch percentage DOA
1  1906354 Rudrashis Kumar Dutta IT     82         2019-06-02
2  1905330 Pooja Agarwal         CSE    92         2019-06-02
3  1906336 Manjima Banerjee      IT     85         2019-06-02
4  1906396 Diya Pal              IT     89         2019-06-02
5  1906009 XYZ                   IT     89         2015-06-02
6  1906890 RJS                   CSE    96         2016-06-02
7  1906357 KJKL                  IT     98         2014-06-02
8  1906970 RXCv                  IT     71         2018-06-02
9  1906000 NA                    IT     81         2017-06-02
10 1905000 OPSJ                  CSE    93         2013-06-02

# 2. Retrieve and display the details of that student who has maximum percentage.

In [2]:
student_with_max_perc <- subset(students, percentage == max(percentage))
student_with_max_perc

  rollno  name branch percentage DOA
7 1906357 KJKL IT     98         2014-06-02

# 3. Retrieve and display the details of those students who are studying in IT or CSE branch.

In [3]:
IT <- subset(students, branch == 'IT')
IT

  rollno  name                  branch percentage DOA
1 1906354 Rudrashis Kumar Dutta IT     82         2019-06-02
3 1906336 Manjima Banerjee      IT     85         2019-06-02
4 1906396 Diya Pal              IT     89         2019-06-02
5 1906009 XYZ                   IT     89         2015-06-02
7 1906357 KJKL                  IT     98         2014-06-02
8 1906970 RXCv                  IT     71         2018-06-02
9 1906000 NA                    IT     81         2017-06-02

In [4]:
CSE <- subset(students, branch == 'CSE')
CSE

   rollno  name          branch percentage DOA
2  1905330 Pooja Agarwal CSE    92         2019-06-02
6  1906890 RJS           CSE    96         2016-06-02
10 1905000 OPSJ          CSE    93         2013-06-02

# 4. Retrieve and display the details of those CSE students whose percentage is more than or equal to 80.

In [5]:
CSE_perc_80plus <- subset(students, branch == 'CSE' & percentage >= 80)
CSE_perc_80plus

   rollno  name          branch percentage DOA
2  1905330 Pooja Agarwal CSE    92         2019-06-02
6  1906890 RJS           CSE    96         2016-06-02
10 1905000 OPSJ          CSE    93         2013-06-02

# 5. Retrieve and display the details of those students who are admitted on or after 1st may 2017 (Lateral Entries).

In [6]:
students_after1May2017 = subset(students, as.Date(DOA) >= as.Date('2017-05-01'))
students_after1May2017

  rollno  name                  branch percentage DOA
1 1906354 Rudrashis Kumar Dutta IT     82         2019-06-02
2 1905330 Pooja Agarwal         CSE    92         2019-06-02
3 1906336 Manjima Banerjee      IT     85         2019-06-02
4 1906396 Diya Pal              IT     89         2019-06-02
8 1906970 RXCv                  IT     71         2018-06-02
9 1906000 NA                    IT     81         2017-06-02

# 6. Create an Excel file as Student.xlsx, where sheet1 contains rollno, name, branch, percentage and sheet2 contains name, DOA with 10 records. Now install and load xlsx package to the R workspace.

In [7]:
library(xlsx)

Warning message:
"package 'xlsx' was built under R version 3.6.3"

In [8]:
sheet1 <- subset(students, select=c(rollno, name, branch, percentage))
write.xlsx(sheet1, file='student.xlsx', sheetName='sheet1', row.names=FALSE)

In [9]:
sheet2 <- subset(students, select=c(DOA))
write.xlsx(sheet2, file='student.xlsx', sheetName='sheet2', append=TRUE, row.names=FALSE)

# 7. Read the details of sheet1 from Student.xlsx to the R workspace and display that, then read from the sheet2 and display that.

In [10]:
student_sheet1 <- read.xlsx('student.xlsx',sheetName='sheet1')
student_sheet1

   rollno  name                  branch percentage
1  1906354 Rudrashis Kumar Dutta IT     82
2  1905330 Pooja Agarwal         CSE    92
3  1906336 Manjima Banerjee      IT     85
4  1906396 Diya Pal              IT     89
5  1906009 XYZ                   IT     89
6  1906890 RJS                   CSE    96
7  1906357 KJKL                  IT     98
8  1906970 RXCv                  IT     71
9  1906000 NA                    IT     81
10 1905000 OPSJ                  CSE    93

In [11]:
student_sheet2 <- read.xlsx('student.xlsx',sheetName='sheet2')
student_sheet2

   DOA
1  2019-06-02
2  2019-06-02
3  2019-06-02
4  2019-06-02
5  2015-06-02
6  2016-06-02
7  2014-06-02
8  2018-06-02
9  2017-06-02
10 2013-06-02

# 8. Write the commands to merge by reading the data set of two sheets of Student.xlsx to the R workspace and display that.

In [12]:
student_xlsx_merged <- student_sheet1
student_xlsx_merged$DOA <- student_sheet2$DOA
student_xlsx_merged

   rollno  name                  branch percentage DOA
1  1906354 Rudrashis Kumar Dutta IT     82         2019-06-02
2  1905330 Pooja Agarwal         CSE    92         2019-06-02
3  1906336 Manjima Banerjee      IT     85         2019-06-02
4  1906396 Diya Pal              IT     89         2019-06-02
5  1906009 XYZ                   IT     89         2015-06-02
6  1906890 RJS                   CSE    96         2016-06-02
7  1906357 KJKL                  IT     98         2014-06-02
8  1906970 RXCv                  IT     71         2018-06-02
9  1906000 NA                    IT     81         2017-06-02
10 1905000 OPSJ                  CSE    93         2013-06-02

# 9. Write the merge data to the new Excel file.

In [13]:
write.xlsx(student_xlsx_merged, file='student_merged.xlsx', sheetName = 'merged')

# 10. Write the merge data to the new Excel file by removing NA.

In [14]:
student_removed_na <- na.omit(student_xlsx_merged)
student_removed_na

   rollno  name                  branch percentage DOA
1  1906354 Rudrashis Kumar Dutta IT     82         2019-06-02
2  1905330 Pooja Agarwal         CSE    92         2019-06-02
3  1906336 Manjima Banerjee      IT     85         2019-06-02
4  1906396 Diya Pal              IT     89         2019-06-02
5  1906009 XYZ                   IT     89         2015-06-02
6  1906890 RJS                   CSE    96         2016-06-02
7  1906357 KJKL                  IT     98         2014-06-02
8  1906970 RXCv                  IT     71         2018-06-02
10 1905000 OPSJ                  CSE    93         2013-06-02

In [15]:
write.xlsx(student_removed_na, file='student_no_NA.xlsx', sheetName = 'no_NA')