<h6 align='center' style='font-size:20px;font:oxanium'>1906354 RUDRASHIS DUTTA</h6>

<h1 align='center' style='font-size:50px'>1906354 DA SESSIONAL</h1>

# Q.2) Create an Excel file as Candidate.xlsx, where sheet1 contains Reg_No, Name, Qualification, and sheet2 contains Reg_No, Written_Exam, Viva with 5 records. Now perform the following operations-
> - i) Write the commands to install and load xlsx package to the R workspace.
> - ii) Read the details of Sheet1 and Sheet2 from Candidate.xlsx to the R workspace and display that.
> - iii) Retrieve the details of those candidates whose Viva mark is more than 80 and write that subset of data to a particular sheet of new Excel file.

In [1]:
library(xlsx)

Warning message:
"package 'xlsx' was built under R version 3.6.3"

In [2]:
data1 <- read.xlsx('Candidate.xlsx', sheetName='Sheet1')
data1

  Reg_no Name Qualification
1 1      gus  yes
2 2      ddv  yes
3 3      dvd  no
4 4      ssf  no
5 5      sfsg yes

In [3]:
data2 <- read.xlsx('Candidate.xlsx', sheetName='Sheet2')
data2

  Reg_no Written_Exam Viva
1 1      56           56
2 2      89           89
3 3      97           97
4 4      78           78
5 5      90           90

In [4]:
data3 <- subset(data2, Viva >= 80)
data3

  Reg_no Written_Exam Viva
2 2      89           89
3 3      97           97
5 5      90           90

In [5]:
write.xlsx(data3,Â 'OP.xlsx', sheetName='ans')